<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h2>CENTRAL TRANSACTION</h2>
<div class="navbar">
     <input type="date" id="party" name="party" min="2017-apr-01" max="2030-apr-20" required>
    <span class="validity"></span>

<label>GOODS</label>
<select name="cars">
    <option value="tamilNadu">Rice</option>
    <option value="kerala">Wheat</option>
    <option value="karnataka">Kerosene</option>
    
  </select>
<label>ALLOCATE STATE</label>
<select name="cars">
    <option value="tamilNadu">TAMIL NADU</option>
    <option value="kerala">KERALA</option>
    <option value="karnataka">KARNATAKA</option>
    <option value="bihar">BIHAR</option>
     <option value="assam">ASSAM</option>
  </select>
  <table>
    <tr>
    <th>TIME</th>

    <th>QUANTITY</th> 
    
    <th>STATE</th>
    <th>ALLOCATED STOCK</th>
    <th>STOCK IN HAND</th>
    
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
         
                                                    
                                                    
            
   </table>

</div>