

<div class="page">       
<div class="headerpart"> </div>
<div class="linkpart">
<marquee direction="right"> Sathyameva jeyatha *Upto 75% of Ruaral and 50% of urban will be converted under PDS* Act and Action base of India</marquee>
<h4></h4><br>
</div>
<div class="navbar">
  <a href="page.html">Home</a>
  
  <div class="dropdown">
    <button class="dropbtn">STORAGE CAPACITY
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="epds.hbs">FCI</a>
      <a href="state.hbs">STATE GODOWN</a>
      <a href="national.hbs">NATIONAL GODWON</a>
     <div class="dropdown">
<button class="dropbtn">DISTRIBUTION/SALES
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">ALLOTED STOCKS</a>
      <a href="#">STATE WISE</a>
      </div>
</div>
      
    </div>
  </div> 
</div>
</div>
 <p class="div"/> <img src="/assets/images/graph.jpg" height="300" width="900"/><br><img src="/assets/images/graph.jpg"height="300" width="500"/>
<p class="div1"/><right>News</right>
<marquee direction="up"  height="100px">
<h4>Upto 75% of Ruaral and 50% of urban will be converted under PDS</h4><br>
<h4>Woman in a family (bove 18 years) would be considered as Family</h4>
</marquee>
