
    <div class="row">
   <div class="jumbotron text-center">
          <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          <img  id="profile-img" class="profile-img-card" src="/assets/india.jpeg"/>
          <h1> PUBLIC DISTRIBUTION SYSTEM</h1>
        </div>
    <div class="row"style="margin-left:150px">
   <div class="col-sm-4">
          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin">

 
              {{input type="email" valueBinding ='Email' class="form-control" placeholder="Email address"   }}
             
              {{input  type="password" valueBinding ='Password' class="form-control" placeholder="Password"  }}
               
           </form>  
          {{!-- <p>
           <label >Select State</label>
           <select  id="myList">
             <option value = "select">select--</option>
               <option value = "Tamil Nadu">Tamil Nadu</option>
             <option value = "Andhra Pradesh">Andhra Pradesh</option>
             <option value = "Kerala">Kerala</option>
             <option value = "Karnataka">Karnataka</option>
             <option value = "Maharastra">Maharastra</option>
             <option value = "Rajasthan">Rajasthan</option>
             <option value = "Delhi">Delhi</option>
           </select>
        </p>
     </div>
      --}}
   
         <div id="remember" class="checkbox">
                  <label>
                      <input type="checkbox"value= "remember-me"> Remember me
                  </label>
              </div>
              {{!-- {{ <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button> --}}
          <button  type="button" id="myButton"class="btn btn-primary" {{action "Submit"}}>Submit</button>
          <!-- /form -->
          <a href="#" class="forgot-password">
              Forgot the password?
          </a>
      </div> 
        </div>
        </div>
        <!-- /card-container -->
  <!-- /container -->
 
   
   
     

<!--<body background="images/download.png;background-repeat:initial">
  <marquee scrollamount="50"
direction="up"
behavior="scroll">
<img src="assets/agriculturemain.jpg" style= "margin-top:-100px;width:1100px">
<br>
<img src="assets/image.jpeg" style= "margin-top:5px;width:1100px">
<br>
<img src="assets/fruitvegetables.png" style= "margin-top:25px;width:1100px">
</marquee>
</body>
</div>
<br>
<br>
<br>
<div>
     
</div>