<div><label> Recieved RICE</label>
<input id="rice" type="text" name=" Recieved rice"/><br /><br />

<label>Recieved WHEAT</label>
<input id="weet" type="text" name="Recieved wheat" /><br /><br />

<label>Recieved KEROSENE</label>
<input id="car" type="text" name="Recieved Kerosene" /><br /><br />

  <input type="button" value="view"/>
  <input type="button" value="submit"/>
  </div>