

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #FF7043;
    }
    tr:nth-child(odd) {
    background-color: #9E9E9E;
    }
</style>


<h2>SALES RATES/QUANTITY</h2>
<table>
  <tr>
    <th>DISTRICT</th>
    <th>ALLOTED QUANTITY</th>
    <th>OB QUANTITY</th>
      <th>DISPOSED QUANTITY</th>
        <th>REMAINING QUANTITY</th>
          <th>PRICE</th>
  </tr>
  <tr>
    <td> Chennai</td>
    <td> 56078</td>
    <td>52678</td>
    <td>3000</td><td>32785</td> <td>Rice= xx, wheat= xx, Kerosene= xx</td>
  </tr>
  <tr>
    <td>Coimbatore</td>
    <td>59234</td>
    <td>56234</td> <td>2500</td><td>32678</td><td> Rice= xx, wheat= xx, Kerosene= xx.</td>
  </tr>
  
</table>
