

<link rel="stylesheet"  type="text/css" href="app.css"/>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<div class="page">        
<div class="headerpart"> <img src="assets/images/pic.JPG" height="100" width="1300" margin-top="1px" margin-left="-8px"/></div>

<div class="linkpart"> 

<marquee direction="right"> Sathyameva jeyatha *Upto 75% of Ruaral and 50% of urban will be converted under PDS* Act and Action base of India</marquee>
<h4></h4><br>

</div>
</div>

<div class="navbar">
  <center><a href><h1>Home</h1></a></center><br><br>
   <p class="div"> <img src="assets/images/call.gif" height="200" vertical-align="middle"  width="1300"/><br></p>


    
</div>
    <div>
      <center><a href="register">CENTRAL</a></center><br>
     <center><a href="register">STATE</a></center><br>
      <center><a href="register">RATION</a></center><br>
      <center><a href="register">USER</a></center>
</div>




{{!-- Gender
         <div class="drop1" style="margin-left:300px; margin-top:-28px">
            {{select-component listitem=genderlist selecteditemlist=genderType}}
         </div>
         <br>
         <br> --}}



 

