
<form action="/action_page.php">
<label>Received stocks: </label><input type="text" name="Received Stocks" value=""><br><br>
Wheat: <input type="text" name="Wheat" value=""><br><br>
Rice: <input type="text" name="Rice" value=""><br><br>
Kerosene: <input type="text" name="Kerosene" value=""><br><br>

<input type="submit" value="Submit">
</form>



