<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CENTRAL LOGIN</title>

  
<div>
<h2>STATE GOVENMENT</h2>
 <label>RECEIVED GOODS</label>
 
<select name="cars">
    <option value="CHENNAI">Rice</option>
    <option value="MADURAI">Wheat</option>
    <option value="TIRCHY">Kerosene</option>
    
  </select>
  
  <input type="allo" type="text" name="allocate"/>

<form>
  <div>
   
    <input type="date" id="party" name="party" min="2017-apr-01" max="2030-apr-20" required>
    <span class="validity"></span>
  </div>
  
</form>
<label>ALLOCATE dISTRICT RETAIL SHOP</label>
<select name="cars">
    <option value="tamilNadu">CHENNAI</option>
    <option value="kerala">MADURAI</option>
    <option value="karnataka">TIRCHY</option>
    <option value="bihar">COIMBATORE</option>
     <option value="assam">SALEM</option>
  </select>
  <label>GOODS</label>
<select name="cars">
    <option value="tamilNadu">Rice</option>
    <option value="kerala">Wheat</option>
    <option value="karnataka">Kerosene</option>
    
  </select>


  
  <lable>ALLOCATE</lable>
  <input type="allo" type="text" name="allocate"/><br><br>
   <button  type="button" id="myButton"class="btn btn-primary" {{action "Submit"}}>Submit</button>
  


</div>