
<div>
<h2>STATE GOVERNMENT</h2>	
<form action="index" >

<label>STATE</label>
<select name="cars">
    <option value="tamilNadu">TAMIL NADU</option>
    <option value="kerala">KERALA</option>
    <option value="karnataka">KARNATAKA</option>
    <option value="bihar">BIHAR</option>
     <option value="assam">ASSAM</option>
  </select>
  <br/><br />

<label> Recieved RICE</label>
<input id="rice" type="text" name=" Recieved rice"/><br /><br />

<label>Recieved WHEAT</label>
<input id="weet" type="text" name="Recieved wheat" /><br /><br />

<label>Recieved KEROSENE</label>
<input id="car" type="text" name="Recieved Kerosene" /><br /><br />

  <input type="button" value="view"/>
  <input type="button" value="submit"/>

</form><br><br>


<label><h1>District Wise allocated</h1></label>

    <pre><a href="madurai">Madurai</a></pre>
    <pre><a href="coimbatore">coimbatore</a></pre>
    <pre><a href="thirchy">thirchy</a></pre>
    <a href="chennai">chennai</a>
    </div> 
  


